<div class="tt-section no-padding-bottom padding-bottom-xlg-80">
  <div class="tt-section-inner tt-wrap">
    <div class="tt-row">
      <div class="tt-col-xl-8">
        <div class="tt-heading tt-heading-xxxlg">
          <h2 class="tt-heading-title tt-text-reveal">Services</h2>
        </div>
        <!-- End tt-Heading -->

        <div
          class="tt-text-uppercase max-width-400 margin-left-xlg-10-p text-pretty tt-text-reveal"
        ></div>
      </div>

      <div class="tt-col-xl-4 tt-align-self-end margin-top-40">
        <div class="tt-big-arrow tt-ba-angle-bottom-left tt-anim-fadeinup">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              style="fill: var(--tt-main-color)"
              d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<app-shared-service-card [services]="services"></app-shared-service-card>
