<div class="tt-section no-padding padding-top-xlg-40 padding-bottom-xlg-40">
  <div class="tt-section-inner">
    <!-- Begin crossed scrolling text
  ================================== -->
    <div class="tt-scrolling-text-crossed">
      <div class="tt-scrolling-text-crossed-inner">
        <!-- Begin scrolling text
      ==========================
      * Use class "scrt-color-reverse" to reverse colors.
      * Use class "scrt-dyn-separator" to enable dynamic separator (works only with data-change-direction="true").
      * Note: Ideally, the text should be long enough to cover the entire width of the screen. If you use a very short text (e.g. one word), duplicate it (including the separator) to compensate for the optimal length of the text.
      Available data attributes:
        data-scroll-speed="10" ...................(lower number = higher speed).
        data-change-direction="true" .............(true/false).
        data-opposite-direction="true" ...........(true/false).
      -->
        <div
          #scrollingText
          class="tt-scrolling-text scrt-dyn-separator scrt-color-reverse"
          data-scroll-speed="7"
          data-change-direction="true"
          data-opposite-direction="true"
        >
          <div class="tt-scrt-inner">
            <div class="tt-scrt-content">
              Over <span style="color: var(--tt-main-color)"> 10 </span> years
              of experience
              <span class="tt-scrt-separator">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path
                    d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"
                  ></path>
                </svg>
              </span>
            </div>
            <!-- /.tt-scrt-content -->
          </div>
          <!-- /.tt-scrt-inner -->
        </div>
        <!-- /.tt-scrolling-text -->

        <!-- Begin scrolling text
      ==========================
      * Use class "scrt-color-reverse" to reverse colors.
      * Use class "scrt-dyn-separator" to enable dynamic separator (works only with data-change-direction="true").
      * Note: Ideally, the text should be long enough to cover the entire width of the screen. If you use a very short text (e.g. one word), duplicate it (including the separator) to compensate for the optimal length of the text.
      Available data attributes:
        data-scroll-speed="10" ...................(lower number = higher speed).
        data-change-direction="true" .............(true/false).
        data-opposite-direction="true" ...........(true/false).
      -->
        <div
          #scrollingText
          class="tt-scrolling-text scrt-dyn-separator"
          data-scroll-speed="7"
          data-change-direction="true"
        >
          <div class="tt-scrt-inner">
            <div class="tt-scrt-content">
              Over
              <span style="color: var(--tt-main-color); margin: auto 4px">
                10
              </span>
              years of experience
              <span class="tt-scrt-separator">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path
                    d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"
                  ></path>
                </svg>
              </span>
            </div>
            <!-- /.tt-scrt-content -->
          </div>
          <!-- /.tt-scrt-inner -->
        </div>
        <!-- /.tt-scrolling-text -->
      </div>
      <!-- /.tt-scrolling-text-crossed-inner -->
    </div>
    <!-- End crossed scrolling text -->
  </div>
  <!-- /.tt-section-inner -->
</div>
