<app-landing-section
  [title]="``"
  [subtitle]="`Projects`"
  [description]="`Steel Bridge Contracting Company (SBC) respects your privacy and is
        committed to protecting any personal information you share with us
        through this website.`"
  [id]="'projects'"
></app-landing-section>

<app-projects-shared [projects]="allProjects()"></app-projects-shared>

<div style="margin: 2rem 0 4rem 0">
  <app-pagination
    [links]="links()"
    [currentPage]="currentPage()"
    [lastPage]="lastPage()"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
