@if (allCareers()) {

  <app-landing-section
    [title]="``"
    [subtitle]="`Careers`"
    [description]="`Steel Bridge Contracting Company (SBC) respects your privacy and is
          committed to protecting any personal information you share with us
          through this website.`"
    [id]="'projects'"
  ></app-landing-section>
@if (paginatedData().length !== 0) {
  <app-shared-career [careers]="paginatedData()"></app-shared-career>
  
  <div style="margin: 2rem 0 4rem 0">
    <app-client-pagination
    [totalItems]="allCareers().length"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage()"
    (pageChange)="onPageChange($event)">
    >
  
    </app-client-pagination>
  </div>
} @else {
   <div style="background-color: #181818; min-height: 300px;font-size: 2.5rem; display:flex; align-items:center; justify-content:center;">
    <p style="color: #fff;">No careers Available</p>
  </div>
}
  
}