<!-- <app-landing-section
  [id]="'about-us'"
  [title]="`About`"
  [subtitle]="`Us`"
  [description]="`Steel Bridge Contracting Company (SBC) respects your privacy and is
        committed to protecting any personal information you share with us
        through this website`"
></app-landing-section>

<div id="about-us" class="tt-section no-padding-bottom padding-bottom-xlg-40">
  <div class="tt-section-inner tt-wrap">
    <div style="padding-bottom: 50px" class="tt-row tt-lg-row-reverse">
      <div class="tt-col-lg-6 margin-bottom-20">
        <figure>
          <img src="/img/about/2.png" alt="About SEO" />
        </figure>
      </div>
      <div class="tt-col-lg-1"></div>

      <div class="tt-col-lg-5">
        <h2 class="tt-font-alter tt-anim-fadeinup">
          A Word From
          <p style="color: var(--tt-main-color); display: inline">The CEO</p>
        </h2>
        <div
          class="text-lg tt-anim-fadeinup"
          style="
            text-align: justify;
            color: white;
            hyphens: auto;
            word-spacing: normal;
            margin: 0;
            max-height: 500px;
            overflow-y: auto;
            line-height: 1.5;
            padding: 0 10px;
          "
        >
          <p>
            At SBC, we are proud to be a leading force in the Saudi Arabian
            market, delivering excellence in construction and engineering
            services. With a steadfast commitment to quality, innovation, and
            sustainability, we specialize in steel structure works, civil works,
            MEP (mechanical, electrical, and plumbing) services, fireproof
            painting and finishing, and glass works.
          </p>

          <p>
            Our mission is to contribute to the Kingdom’s vision by providing
            world-class solutions that meet the highest standards of safety,
            durability, and aesthetic appeal.
          </p>

          <p>
            As the CEO, I am honored to lead a team of dedicated professionals
            who share a common goal: to exceed client expectations and build
            lasting partnerships. We take pride in our ability to adapt to the
            evolving needs of the market while maintaining our core values of
            integrity, collaboration, and excellence.
          </p>
          <p>
            Together, we are shaping the future of Saudi Arabia’s
            infrastructure—one project at a time.
          </p>
          <p>
            Thank you for trusting SBC as your partner in progress. We look
            forward to continuing our journey of growth and success, hand in
            hand with our clients and stakeholders.
          </p>
        </div>
      </div>
    </div>
    <div class="tt-row tt-column-reverse tt-lg-row-reverse">
      <div class="tt-col-lg-5">
        <h2 class="tt-font-alter tt-anim-fadeinup">
          About
          <span style="color: var(--tt-main-color)"> SBC </span>
        </h2>
        <div
          style="
            text-align: justify;
            color: white;
            hyphens: auto;
            word-spacing: normal;
            margin: 0;
            max-height: 500px;
            overflow-y: auto;
            line-height: 1.5;
            padding: 0 10px;
          "
          class="text-lg tt-anim-fadeinup"
        >
          <p>
            Steel Bridge Contracting Company (SBC) is a premier general
            contracting firm based in Riyadh, KSA. Since our establishment in
            2013, we have been dedicated to delivering high-quality construction
            solutions across industrial, commercial, and residential sectors.
          </p>
          <p>
            With a strong emphasis on value engineering, we ensure that every
            project meets the highest standards of quality, efficiency, and
            sustainability. SBC was founded to meet the Kingdom’s rapidly
            growing construction demands—and over the years, we have earned a
            reputation for delivering projects on time, within budget, and with
            exceptional workmanship.
          </p>
        </div>
      </div>
      <div class="tt-col-lg-1"></div>

      <div class="tt-col-lg-6 margin-bottom-20">
        <div class="tt-video ttv-portrait ttv-grayscale">
          <figure>
            <img src="/img/logo-white.png" alt="About SBC" />
          </figure>
        </div>
      </div>
    </div>
    <div class="sub-section padding-top-100">
      <h5 style="color: var(--tt-main-color)" class="text-center">
        Our Commitment
      </h5>
      <p>
        <span>We adhere to four key pillars of project success:</span>
        <span>Quality, Time, Cost, and Scope</span>
      </p>

      <p>
        We work closely with clients to define and execute projects with clear
        objectives, precision, and flexibility, ensuring all requirements are
        met effectively.
      </p>
      <p>
        Backed by a dedicated team of professionals, innovative solutions, and a
        commitment to excellence, SBC remains a trusted partner in the
        construction industry—consistently delivering projects that exceed
        expectations.
      </p>

      <div class="mission-vision-container">
        <div class="mission-card">
          <div class="card-header">
            <div class="mission-icon-container">
              <svg
                class="card-icon"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
            </div>
            <h3 class="card-title">Our Mission</h3>
          </div>
          <p class="card-description" style="color: white">
            To deliver high-quality, safe, and innovative construction solutions
            that exceed client expectations and support Saudi Arabia's growth.
          </p>
        </div>

        <div class="vision-card">
          <div class="card-header">
            <div class="vision-icon-container">
              <svg
                class="card-icon"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                ></path>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                ></path>
              </svg>
            </div>
            <h3 class="card-title">Our Vision</h3>
          </div>
          <p style="color: white" class="card-description">
            To lead the region in construction excellence and client trust.
          </p>
        </div>
      </div>
      <app-clients></app-clients>
    </div>
  </div>
</div> -->


<app-landing-section
  id="about-us"
  [title]="aboutData()?.about?.main_title || 'About'"
  [subtitle]="'Us'"
  [description]="aboutData()?.about?.main_text || 'Steel Bridge Contracting Company (SBC) respects your privacy and is committed to protecting any personal information you share with us through this website'"
></app-landing-section>

<div id="about-us" class="tt-section no-padding-bottom padding-bottom-xlg-40" *ngIf="aboutData()">
  <div class="tt-section-inner tt-wrap">
    <div style="padding-bottom: 50px" class="tt-row tt-lg-row-reverse">
      <div class="tt-col-lg-6 margin-bottom-20">
        <figure>
          <img  loading="lazy" [src]="IMAGE_BASE_URL + aboutData()?.about?.main_image || '/img/about/2.png'" [alt]="aboutData()?.about?.alt_image || 'About SEO'" />
        </figure>
      </div>
      <div class="tt-col-lg-1"></div>

      <div class="tt-col-lg-5">
        <h2 class="tt-font-alter tt-anim-fadeinup">
          A Word From
          <p style="color: var(--tt-main-color); display: inline">The CEO</p>
        </h2>
        <div
          class="text-lg tt-anim-fadeinup"
          style="
            text-align: justify;
            color: white;
            hyphens: auto;
            word-spacing: normal;
            margin: 0;
            max-height: 500px;
            overflow-y: auto;
            line-height: 1.5;
            padding: 0 10px;
          "
        >
        @if (aboutData()?.about?.commitment_text) {
          <p [innerHTML]="aboutData()?.about?.commitment_text | safeHtml"></p>
        }
        <!-- <p>{{ aboutData()?.about?.mission_text || 'Our mission is to contribute to the Kingdom’s vision by providing world-class solutions that meet the highest standards of safety, durability, and aesthetic appeal.' }}</p> -->
          
        </div>
      </div>
    </div>
    <div class="tt-row tt-column-reverse tt-lg-row-reverse">
      <div class="tt-col-lg-5">
        <h2 class="tt-font-alter tt-anim-fadeinup">
          About
          <span style="color: var(--tt-main-color)"> SBC </span>
        </h2>
        <div
          style="
            text-align: justify;
            color: white;
            hyphens: auto;
            word-spacing: normal;
            margin: 0;
            max-height: 500px;
            overflow-y: auto;
            line-height: 1.5;
            padding: 0 10px;
          "
          class="text-lg tt-anim-fadeinup"
        >
          @if (aboutData()?.about?.about_text) {
            <p [innerHTML]="aboutData()?.about?.about_text | safeHtml"></p>
          }
        </div>
      </div>
      <div class="tt-col-lg-1"></div>

      <div class="tt-col-lg-6 margin-bottom-20">
        <div class="tt-video ttv-portrait ttv-grayscale">
          <figure>
            <img  loading="lazy" [src]="IMAGE_BASE_URL + aboutData()?.about?.about_image || '/img/logo-white.png'" [alt]="aboutData()?.about?.about_alt_image || 'About SBC'" />
          </figure>
        </div>
      </div>
    </div>
    <div class="sub-section padding-top-100">
      <h5 style="color: var(--tt-main-color)" class="text-center">
        Our Commitment
      </h5>
      <p>
        @if (aboutData()?.about?.commitment_text) {
          <p [innerHTML]="aboutData()?.about?.commitment_text | safeHtml"></p>
        }
      </p>

      <div class="mission-vision-container">
        <div class="mission-card">
          <div class="card-header">
            <div class="mission-icon-container">
              <svg
                class="card-icon"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
              </svg>
            </div>
            <h3 class="card-title">Our Mission</h3>
          </div>
          <p class="card-description" style="color: white">
            @if (aboutData()?.about?.mission_text) {
              <p [innerHTML]="aboutData()?.about?.mission_text | safeHtml"></p>
            }
          </p>
        </div>

        <div class="vision-card">
          <div class="card-header">
            <div class="vision-icon-container">
              <svg
                class="card-icon"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                ></path>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                ></path>
              </svg>
            </div>
            <h3 class="card-title">Our Vision</h3>
          </div>
          <p style="color: white" class="card-description">
            @if (aboutData()?.about?.vision_text) {
              <p [innerHTML]="aboutData()?.about?.vision_text | safeHtml"></p>
            }
          </p>
        </div>
      </div>
      <app-clients [clients]="aboutData()?.clients || []"></app-clients>
    </div>
  </div>
</div>