<!-- ======================
    ///// Begin tt-footer /////
    =========================== -->
<footer id="tt-footer" class="border-top">
  <div class="tt-footer-inner tt-wrap">
    <div class="tt-row">
      <div class="tt-col-xl-3 tt-col-sm-6 tt-justify-content-xl-start">
        <div class="tt-footer-widget">
          <ul class="tt-footer-widget-list">
            <li>
              <!-- You may need to change the img height to match your logo type. You can do this from the "theme.css" file (find: ".tt-footer-logo img").-->
              <div class="tt-footer-logo">
                <div class="magnetic-wrap">
                  <a href="index.html" class="tt-magnetic-item">
                    <img
                      src="/img/logo-light.png"
                      class="tt-logo-light"
                      loading="lazy"
                      alt="Logo"
                      style="max-height: 90px"
                    />
                  </a>
                </div>
              </div>
              <!-- /.tt-footer-logo -->
            </li>
            <li>
              <!-- /.tt-footer-copyright -->
            </li>
          </ul>
          <!-- /.tt-footer-widget-list -->
        </div>
        <!-- /.tt-footer-widget -->
      </div>
      <div class="tt-col-xl-3 tt-col-sm-6">
        <div class="tt-footer-widget">
          <h5 class="tt-footer-widget-heading">Links</h5>
          <ul class="tt-footer-widget-list">
            <li>
              <a [routerLink]="['/projects']" class="tt-link">Projects</a>
            </li>
            <li>
              <a [routerLink]="['/career']" class="tt-link">Careers</a>
            </li>
            <li>
              <a [routerLink]="['/achievements']" class="tt-link"
                >Achievements</a
              >
            </li>
            <li>
              <a [routerLink]="['/contact-us']" class="tt-link">Contact Us</a>
            </li>
            <li>
              <a [routerLink]="['/privacy']" class="tt-link">Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="tt-col-xl-3 tt-col-sm-6">
        <div class="tt-footer-widget">
          <h5 class="tt-footer-widget-heading">Contact</h5>
          <ul class="tt-footer-widget-list">
            <li>
              <a
                target="_blank"
                [href]="socialLinks().office_map_link"
                class="tt-link"
              >
                {{ socialLinks().office_address }}
              </a>
            </li>
            <li>
              <a
                [href]="'mailto:' + socialLinks().main_email"
                class="tt-link"
                >{{ socialLinks().main_email }}</a
              >
            </li>
            <li>
              <a [href]="'tel:' + socialLinks().first_phone" class="tt-link">
                +966 {{ socialLinks().first_phone }}
              </a>
            </li>
            <li>
              <a [href]="'tel:' + socialLinks().second_phone" class="tt-link">
                +966 {{ socialLinks().second_phone }}
              </a>
            </li>

            <li>
              <a
                target="_blank"
                [href]="
                  'https://api.whatsapp.com/send?phone=966' +
                  socialLinks().whatsapp_phone
                "
                class="tt-link"
              >
                +966 {{ socialLinks().whatsapp_phone }}
              </a>
            </li>
            <li>
              <div class="tt-social-buttons">
                <ul>
                  @if (socialLinks().facebook_link !== null) {
                    <li>
                      <div class="magnetic-wrap">
                        <a
                          [href]="socialLinks().facebook_link"
                          class="tt-magnetic-item"
                          rel="noopener"
                          ><i class="fa-brands fa-facebook-f"></i
                        ></a>
                      </div>
                    </li>
                  }
                  @if (socialLinks().instagram_link !== null) {
                    <li>
                      <div class="magnetic-wrap">
                        <a
                          [href]="socialLinks().instagram_link"
                          class="tt-magnetic-item"
                          rel="noopener"
                          ><i class="fa-brands fa-instagram"></i
                        ></a>
                      </div>
                    </li>
                  }
                  @if (socialLinks().twitter_link !== null) {
                    <li>
                      <div class="magnetic-wrap">
                        <a
                          [href]="socialLinks().twitter_link"
                          class="tt-magnetic-item"
                          rel="noopener"
                          ><i class="fa-brands fa-x-twitter"></i
                        ></a>
                      </div>
                    </li>
                  }
                  @if (socialLinks().linkedin_link !== null) {
                    <li>
                      <div class="magnetic-wrap">
                        <a
                          [href]="socialLinks().instagram_link"
                          class="tt-magnetic-item"
                          rel="noopener"
                          ><i class="fa-brands fa-linkedin"></i
                        ></a>
                      </div>
                    </li>
                  }
                  @if (socialLinks().youtube_link !== null) {
                    <li>
                      <div class="magnetic-wrap">
                        <a
                          [href]="socialLinks().youtube_link"
                          class="tt-magnetic-item"
                          rel="noopener"
                          ><i class="fa-brands fa-youtube"></i
                        ></a>
                      </div>
                    </li>
                  }
                  @if (socialLinks().snapchat_link !== null) {
                    <li>
                      <div class="magnetic-wrap">
                        <a
                          [href]="socialLinks().snapchat_link"
                          class="tt-magnetic-item"
                          rel="noopener"
                          ><i class="fa-brands fa-snapchat"></i
                        ></a>
                      </div>
                    </li>
                  }
                  @if (socialLinks().telegram_link !== null) {
                    <li>
                      <div class="magnetic-wrap">
                        <a
                          [href]="socialLinks().telegram_link"
                          class="tt-magnetic-item"
                          rel="noopener"
                          ><i class="fa-brands fa-telegram"></i
                        ></a>
                      </div>
                    </li>
                  }
                  @if (socialLinks().tiktok_link !== null) {
                    <li>
                      <div class="magnetic-wrap">
                        <a
                          [href]="socialLinks().tiktok_link"
                          class="tt-magnetic-item"
                          rel="noopener"
                          ><i class="fa-brands fa-tiktok"></i
                        ></a>
                      </div>
                    </li>
                  }

                  <!-- <li><a href="https://x.com/Themetorium" class="tt-magnetic-item" target="_blank" rel="noopener"><i class="fa-brands fa-x-twitter"></i></a></li> -->
                </ul>
              </div>
              <!-- /.tt-social-buttons -->
            </li>
          </ul>
          <!-- /.tt-footer-widget-list -->
        </div>
        <!-- /.tt-footer-widget -->
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;
          align-items: center;
        "
        class="tt-col-xl-3 tt-col-sm-6 tt-justify-content-xl-start"
      >
        <div class="tt-footer-widget">
          <div
            data-delay="600"
            class="iso-images animate-slide-up"
            style="
              display: flex;
              flex-direction: column;
              gap: 10px;
              justify-content: center;
              align-items: center;
            "
          >
            <figure>
              <img
                style="width: 70px; height: 70px"
                src="/img/home/3.png"
                alt=""
              />
            </figure>
            <figure>
              <img
                style="width: 70px; height: 70px"
                src="/img/home/1.png"
                alt=""
              />
            </figure>

            <figure>
              <img
                style="width: 70px; height: 70px"
                src="/img/home/2.png"
                alt=""
              />
            </figure>
          </div>
        </div>
        @if (isFoundingDay) {
          <div class="tt-footer-widget">
            <div
              data-delay="600"
              class="iso-images animate-slide-up"
              style="
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                align-items: center;
              "
            >
              <figure>
                <img
                  width=""
                  src="/img/founding-day-logo.png"
                  alt="founding day"
                  width="207"
                  height="65"
                  loading="lazy"
                  decoding="async"
                />
              </figure>
            </div>
          </div>
        }
      </div>
    </div>

    <!-- /.tt-row -->
  </div>
  <!-- /.tt-section-inner -->
  <div style="padding-top: 20px" class="tt-row">
    <div class="tt-col-xl-12">
      <div
        style="
          text-align: center;
          font-size: 14px;
          color: white;
          margin: 0;
          display: flex;
          flex-direction: row;
          gap: 5px;
          justify-content: center;
          align-items: center;
        "
      >
        <a
          href="https://digitalbondmena.com/"
          target="_blank"
          style="color: white"
        >
          Digital Bond
        </a>

        <a href="https://digitalbondmena.com/" target="_blank">
          <img
            style="width: 30px; height: auto"
            src="/img/home/logo.png"
            alt="digital bond"
          />
        </a>
        <span> All rights reserved &copy; 2025 </span>
      </div>
    </div>
  </div>
</footer>
<!-- End tt-footer -->
