<div class="tt-section padding-top-xlg-140 border-top">
  <div class="tt-section-inner tt-wrap">
    <div class="tt-row">
      <div class="tt-col-xl-8">
        <div class="tt-heading tt-heading-xxxlg">
          <h2 class="tt-heading-title tt-text-reveal">Projects</h2>
        </div>
      </div>
      <div class="tt-col-xl-4 tt-align-self-end margin-top-30">
        <div class="tt-big-round-ptn tt-anim-fadeinup">
          <a href="/projects" class="tt-big-round-ptn-holder tt-magnetic-item">
            <div class="tt-big-round-ptn-inner">
              All<br />
              Projects
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-projects-shared [projects]="projects()"></app-projects-shared>
